@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


.active{
 color: white;
 background: #1ABC9C;
 font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
 
  font-weight: 700;
  padding: 0.6rem 0.95rem; 
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.55rem; 
}